<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un nuevo artículo</title>
</head>
<body>
    <form action="/guardaarticulo" method="post" enctype="multipart/form-data">
        <h3>CREACIÓN DE UN NUEVO ARTÍCULO</h3>
        <br><br>
        <label for="id">Id: </label>
        <input type="text" required name="id">
        <label for="msg">{{msg}}</label>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" required name="nombre">
        <br>
        <label for="precio">Precio: </label>
        <input type="number" required name="precio">
        <br>
        <label for="saldo">Saldo: </label>
        <input type="number" required name="saldo">
        <br>
        <label for="foto">Foto: </label>
        <input class="form-control" type="file" id="foto" name="foto">
        <br><br>
        <input type="submit" value="Guardar">
        <a href="/">Regresar</a>

    </form>
</body>
</html>