<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar los datos de un artículo existente</title>
</head>
<body>
    <form action="/actualizaarticulo" method="post" enctype="multipart/form-data">
        <h3>MODIFICACIÓN DE UN ARTÍCULO EXISTENTE</h3>
        <br><br>
        <label for="id">Id: </label>
        <input readonly type="text" value="{{art[0]}}" name="id">
        <label for="msg">{{msg}}</label>
        <br>
        <label for="nombre">Nombre: </label>
        <input type="text" value="{{art[1]}}" required name="nombre">
        <br>
        <label for="precio">Precio: </label>
        <input type="number" value="{{art[2]}}"required name="precio">
        <br>
        <label for="saldo">Saldo: </label>
        <input type="number" value="{{art[3]}}"required name="saldo">
        <br>
        <label for="foto">Foto: </label>
        <input class="form-control" type="file" id="foto" value="{{art[4]}}" name="foto">
        <br><br>
        <input type="submit" value="Guardar">
        <a href="/">Regresar</a>

    </form>
</body>
</html>